@model List<Fails>
    @{
        ViewData["Tittle"] = "Home page";

    }
    @if(Model.Count() == 0) {
        <p class="text-center">No se suben Fails de momento :(</p>
    }else {
        <div class="row">
            @foreach (var fails in Model)
            {
                <div>
                    <h2>@fails.titulo</h2>
                    <h2>Subido Por :  @User.Identity.Name </h2>
                    <img src="@fails.foto" class="img-fluid"/>
                    
                </div>
            }
        </div>
    }
